<div class="secondary-aside col-sm-2 col-xs-0">
    <aside class="aside">
        <h3>Sub Nav</h3>
        <ul class="side-nav"> 
            <li>Volunteer</li> <!-- YOU MAY CHANGE THIS IF YOU LIKE. NOTHING ELSE PLEASE -->
        </ul>
    </aside>
</div>
