<div class="secondary-aside">
	<aside class="aside">
		<h3>Other Resources</h3> <!-- CHANGE THIS TO THE SECTION YOUR FEATURE IS IN -->
		<ul class="side-nav">
			<li><a>Blog</a></li> <!-- CHANGE THIS TO YOUR FEATURE NAME -->
		</ul>
	</aside>
</div>